# Superuser creation credentials
NAUTOBOT_CREATE_SUPERUSER=true
NAUTOBOT_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567
NAUTOBOT_SUPERUSER_PASSWORD=admin
# Database credentials
NAUTOBOT_DB_USER=nautobot
NAUTOBOT_DB_PASSWORD=decinablesprewl
NAUTOBOT_NAPALM_PASSWORD=
NAUTOBOT_SECRET_KEY=r8OwDznj!!dci#P9ghmRfdu1Ysxm0AiPeDCQhKE+N_rClfWNj
NAUTOBOT_REDIS_PASSWORD=decinablesprewl
# Device credentials
NAUTOBOT_DEVICE_USERNAME=admin
NAUTOBOT_DEVICE_PASSWORD=admin
# PostgreSQL credentials
POSTGRES_USER=nautobot
POSTGRES_PASSWORD=decinablesprewl
POSTGRES_DB=nautobot
